

.homebox {background-color: black;
    width: 500px;
   height: 400px;
   margin: 2px;
   margin-left:200px;
   padding: 2px;
   float:left;
   
   }

   .homebox1 {background-color: black;
    width: 500px;
   height: 400px;
   margin: 2px;
   margin-left:730px;
   padding: 2px;
   margin-top: 24px;
   }
   
   .homebox2
   {background-color: black;
    width: 500px;
   height: 400px;
   margin: 2px;
   margin-left:730px;
   padding: 2px;
    }

 .homebox3 {background-color: black;
    width: 500px;
   height: 400px;
   margin: 1px;
   margin-left:200px;
   float: left;
   padding: 1px;
   }
.cyber{margin-top: 30px;
}

.contact {object-fit: fill;
    margin-top:50px;
}

.conversion {object-fit: fill;
   margin-top: 30px;}

.joke {margin-left: 30px;
    margin-top: 20px;
}      

.aboutmehome {object-fit: fill;
margin-top:30px ;
margin-left: 120px;}

h1 {background: black;} 

h2 {font-size: 28px; 
   text-align: center;
   color:black; 
   font-stretch: extra-expanded; 
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
}

h3 {font-size: 80px; 
   color: whitesmoke; 
   font-stretch: extra-expanded; 
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans'; 
   justify-content: center; 
   align-items: center;
}

h4 {font-size: 18px; 
   color:black; 
   font-stretch: extra-expanded; 
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
}

h5 {justify-content: center; 
   align-items: center; 
   font-size: 16px; 
   color:black; 
   font-stretch: extra-expanded;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
   }


body {background-color: whitesmoke;}

p {color: whitesmoke;}   

.box2 {background-color:darkgrey;
   width: 600px;
   height: 200px;}

.text{font-size: 22; 
   color: black;
    font-stretch: extra-expanded; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
   }

.box {background-color: black;
   height: 100px;
   margin-top: auto;
   margin-bottom: auto;
   }

.contactbox{border: 10px solid whitesmoke; 
         background-color: rgb(207, 213, 216);
         margin-left: auto;
         margin-right: auto;
         margin-top: 10px;
         width: 700px;
         height:450px;
         } 

.c1 { margin-top: 10px;
   margin-left: auto;
   margin-right: auto;
   background-color: black;
   color: aliceblue;
   height: 50px;
   width: 500px;
   justify-content: space-between ;
   font-size: 20px; 
   color: whitesmoke; 
   font-stretch: extra-expanded; 
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
}


.c2 { margin-top: 10px;
   margin-left: auto;
   margin-right: auto;
   background-color: black;
   color: aliceblue;
   height: 150px;
   width: 500px;
   justify-content: space-between ;
   font-size: 20px; color: whitesmoke;
    font-stretch: extra-expanded; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
}


.text {background-color: black;
   color: whitesmoke;
   height: 50px;
   width: 495px;}

.text1 {background-color: black;
         color: whitesmoke;
         height: 200px;
         width: 495px;}

.home {margin-left: 1300px;
        background-color: transparent;
   }

.title{background-color: black;
    width: 500px;
   height: 400px;
   padding:  10px;
   float: left;
}

.textbox {background-color: black;
    text-decoration-color: whitesmoke;
    width: 800px;
   height: 400px;
   margin-left:550px;
   padding: 10px;
   }


 .t1{background-color: black;
    text-decoration-color: whitesmoke;
    width: 550px;
   height: 70px;
   margin-left:550px;
   padding: 0px;
   }

.t2{background-color: black;
    text-decoration-color: whitesmoke;
    width: 50px;
   height: 400px;
   margin-left:550px;
   padding: 10px;
   }

.submitbutton{margin-top: 40px;
   border: 5px;
   border-color: whitesmoke;
   background-color: rgb(207, 213, 216);
   justify-content: center;
   align-content: center;
   margin-left: 50%;
   margin-right:50%; } 

.alert{
   font-size: 16px;
   text-align: center;
   Font-size: 18px; 
   color:black; 
   font-stretch: extra-expanded; 
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'Arial';
}

.alertheader{
   font-size: 32px;
   align-items: center;
   Font-size: 18px; 
   color:black; 
   font-stretch: extra-expanded; 
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
   text-align: center;
}